/node_modules
/public/hot
/public/storage/adjuntoNarracion
/public/storage/citatorios
/public/storage/diligencias-sp
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
