/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/img/banner_libro.png
nbproject/project.properties
database/seeds/AddDummyEvent.php
nbproject/project.xml
resources/views/fields/ajaxCurp.blade.php
nbproject/private/private.properties
database/migrations/2018_03_21_183353_create_events_table.php
resources/views/layout.blade.php
resources/views/fullcalendar.blade.php
nbproject/private/private.xml
nbproject/private/config.properties
app/Http/Controllers/EventController.php
app/Event.php
